
<html>
  {% load static %}
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}" >

    <title>Todo App</title>
  </head>
  <div class="row">
    <div class="col-md-12">
      <h2>Things To Do...</h2>
      <div class="main-todo-input-wrap">
       <!-- <div class="main-todo-input fl-wrap">
          <div class="main-todo-input-item"> -->
            <form action = "" method = "POST">
              {% csrf_token %} 
              <input type="text" class="form-control todo-task" name="task_text" id="exampleInputEmail1" placeholder="What are you going to do?">  
              <input type="text" class="form-control todo-task" name="task_time" id="exampleInputEmail2" placeholder="When are you going to do?"> 
            <button id="submit" type="submit" class=" add-task btn btn-primary">Add task</button>      
          <!-- </div>           -->
        </form>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if todo_list %}
      <div class="main-todo-input-wrap">
        {% for task in todo_list %}
        <div class="main-todo-input fl-wrap">
          <ul id="list-items">
            <div class="todo-listing">
              <li class="todo-text">{{ task.task_name }}</li><li class="todo-text">{{ task.task_date }}</li><a href="#"><i id="{{task.id}}" name="remove" class="fas fa-trash remove"></i><i class="fas fa-check-circle taskcheck"></i></a>              
            </div>
          </ul>
        </div>
          {% endfor %}     
      </div>
      {% endif %}    
    </div>
  </div>
</html>
